#extentions
*.dll
*.pyd
*.py[cod]
*.egg
*.egg-info
*.wpr
*.wpu
*~

#files
Leap.py
Linux/*.so

#directories
.idea
bin
build
develop-eggs
dist
eggs
lib
lib64
parts
sdist
var
env

#other
.DS_Store
.cleanup.sh
.installed.cfg
pip-log.txt
